/* Color Variables */
$primary-color-purple: #705AAA;
$secondary-color-light-gray: #CBC8D4;
$activestate-bg-secondary: #D8FCF7;
$activestate-bg-primary: #01F0D0;
$accent-color-green: #0BD984;
$primary-text-color-dark-blue: #072635;
$secondary-text-color-dark-blue: #0C3D5D;
$tertiary-text-color-blue: #084C77;
$highlight-color-blue: #055A92;
$link-color-dark-blue: #006AAC;
$button-color-blue: #007BC7;
$neutral-color-dark-gray: #707070;
$background-color-light: #F6F6F6;
$border-color-light-gray: #EDEDED;
$color-black: #000000;
$neutral-color-medium-gray: #878787;
$color-white: #FFFFFF;
$accent-color-orange: #FF6200;

/* Font/Text Variables */
$font-family-primary: 'Manrope';
$font-style-normal: normal;
$font-weight-extra-bold: 800;
$font-weight-regular: normal;
$font-weight-bold: bold;
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 24px;
$letter-spacing-normal: 0px;
$line-height-small: 19px;
$line-height-medium: 24px;
$line-height-large: 33px;
$text-transform-titlecase: titlecase;
