@import '@/scss/fonts';
@import '@/scss/mixins';
@import '@/scss/variables';

#ContactUsSection{
     position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    
    .bg1{
        @include attachBg();
        z-index: 0;
    }
    .container{
        padding: 3rem 0;
        position: relative;
        z-index: 1;
        form{
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content:center ;
            align-items: center;
            margin: 3rem auto;
            input.form-control,textarea.form-control{
                padding: 0.7rem 2rem;
                font-size: 1.2rem;
                margin: 0.3rem 0;
            }
            .para{
                font-size: 1.3rem;
            }
        }
        
    }
}