.bg{
    position: relative;
    padding: 4rem 0;
    .container{
    padding-top: 0rem;
    }
}
.bg2{
    position: absolute;
    top: 0%;
    left:-1%;
    margin-top: -6rem;
    width: 110%;
    height: 120%;
    object-fit: cover;
}