@import 'react-date-range/dist/styles.css';
@import 'react-date-range/dist/theme/default.css';

body{
    overflow-x: hidden;
}
#patients {
    position: relative;
    height: 140vh;
    border-radius: 2rem;
   
    padding-top: 2rem;
    padding-right: 1rem;
    margin: 0 1rem;
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: #F6F7F8; /* Light background color for better visibility */
}
.patient-init-card{
    width: 100%;
padding: 0.8rem 1rem;
/* UI Properties */
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-707070);
text-align: left;
font: normal normal normal 14px/19px Manrope;
letter-spacing: 0px;
color: #707070;
opacity: 1;
cursor: pointer;
width: 100%;
}
/* WebKit scrollbar styles */
#patients::-webkit-scrollbar-track {
   

    width: 6px;
    background: #E3E4E6; /* Light grey background for the scrollbar track */
    border-radius: 3px;
    margin: 1rem;
    margin-top: 3rem;
    margin-left: 4rem;
}

#patients::-webkit-scrollbar {
    padding: 1rem;
    
    width: 6px; /* Match the track width */
}

#patients::-webkit-scrollbar-thumb {
    background: #707070; /* Dark grey for the scrollbar thumb */
    border-radius: 3px;
}

#patients::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker grey on hover for better visibility */
}

.patient-init{
    display: flex;
    margin-left: 8px;
  
    flex-direction: column;
    justify-content: center;
    /* margin-left: 8px; */
}
.patient-init-name{
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    color: var(--primary-text-color-dark-blue);
    text-align: center;
    margin: 0;
  
}
.patients-title,.d-title,.lab-result-heading,.daignostic-title{
    height: 33px;
/* UI Properties */
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-manrope);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-072635);
text-align: left;
font: normal normal 800 24px/33px Manrope;
letter-spacing: 0px;
color: #072635;
opacity: 1;
}


/* Container for transition */
.patients-title-search {
    display: flex;
    align-items: center;
}

/* Initial state for the input field */
.search {
    position: absolute;
    left: 10%;
    top: 8;
    transform: scaleX(0);
    transform-origin: left;
    width: 0; /* Initial width */
    opacity: 0; /* Hide the input */
    overflow: hidden;
    transition: transform 0.3s ease, width 0.3s ease, opacity 0.3s ease; /* Smooth transitions */
    z-index: 1;
}
.nav-link.active{
    transition: all 1s;
   padding-top: 0.6rem;

/* UI Properties */
background: var(--activestate_bg_1) 0% 0% no-repeat padding-box;
background: #01F0D0 0% 0% no-repeat padding-box;
border-radius: 41px;
}
/* State when the input field is visible */
.search.show {
    transform: scaleX(1);
    width:300px; /* Adjust width as needed */
    opacity: 1; /* Show the input */
    margin: 0 auto;
}

/* Hide the title with transition */
.patients-title {
    transform: scaleX(1);
    width: 100%;
    transition: all 0.3s ease; /* Smooth transition for opacity */
}

.patients-title.hide {
    transform: scaleX(0);
    width: 0%;
    opacity: 0;
    pointer-events: none; /* Ensure it doesn't capture clicks */
}
.chart-info-holder{
    margin: 0 0.5rem;
    padding: 1rem 0.5rem;
}
#chart-container,.chart-info-holder,.info-chart{
    /* margin:0 1.5rem; */
    background-color: #F4F0FE;
    border-radius: 1rem;
}
.info-chart{
    /* margin:0 1.5rem; */
    background-color: transparent;
    border-radius: 1rem;
}
.chart{
    width: 400px;
}
.chart-title{
    height: fit-content;
}
#lineChart{
}
.chart-month-selection{
    background-color: #F4F0FE;
    width: 150px;
    height: fit-content;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: right;
    font: normal normal normal 14px/19px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
    /* background: transparent; */

}
.chart-month-selection:focus{
    outline: none;
    box-shadow: unset;
}
.color{
    width: 14px;
height: 14px;
/* UI Properties */
border: 1px solid var(--unnamed-color-ffffff);
background: #E66FD2 0% 0% no-repeat padding-box;
border: 1px solid #FFFFFF;
opacity: 1;
border-radius: 50%;
}
.line{
    width: 100%;
    margin-top: 1.5rem;
}

.rp-card{
    width: 228px;
height: 242px;
/* UI Properties */
background: #E0F3FA 0% 0% no-repeat padding-box;
border-radius: 12px;
opacity: 1;
}
.tp-card{
width: 228px;
height: 242px;
/* UI Properties */
background: #FFE6E9 0% 0% no-repeat padding-box;
border-radius: 12px;
opacity: 1;
}

.hr-card{
    width: 228px;
height: 242px;
/* UI Properties */
background: #FFE6F1 0% 0% no-repeat padding-box;
border-radius: 12px;
opacity: 1;
}

.lungs{
    width: 96px;
height: 96px;
/* UI Properties */
background: transparent url('/images/respiratory\ rate.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.temperature{
    width: 96px;
height: 96px;
/* UI Properties */
background: transparent url('/images/temperature.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.hr{
    width: 96px;
height: 96px;
/* UI Properties */
background: transparent url('/images/HeartBPM.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.holder{
    width: 350px;
    margin: 0.8rem;
}
#patientImg{
    width: 180px;
    margin: 1rem auto;
}
#patientName{
    
    height: 33px;
/* UI Properties */
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-manrope);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-072635);
text-align: center;
font: normal normal 800 24px/33px Manrope;
letter-spacing: 0px;
color: #072635;
opacity: 1;
margin-bottom: 1.5rem;
}
.item{
    margin: 0.8rem 0;
}
.item .fa{
   
    background: #F6F7F8;
    width: 42px;
    height: 42px;
    /* UI Properties */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    color: var(--unnamed-color-072635);
    border-radius: 50%;
    font-size: 1.2rem;
}
.item .item-content-holder p{
    height: 7px;
    font: var(--unnamed-font-style-normal) normal medium var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: left;
    font: normal normal medium 14px/19px Manrope;
    letter-spacing: 0px;
    color: #072635;
    text-transform: capitalize;
    margin-left: 12px;

}
.item .item-content-holder b{
    margin-left: 12px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-072635);
text-align: left;
font: normal normal bold 14px/19px Manrope;
letter-spacing: 0px;
color: #072635;
text-transform: capitalize;
opacity: 1;
}
.btn-green{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    text-align: center;
height: 41px;
/* UI Properties */
background: var(--activestate_bg_1) 0% 0% no-repeat padding-box;
background: #01F0D0 0% 0% no-repeat padding-box;
border-radius: 41px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-072635);
text-align: left;
font: normal normal bold 14px/19px Manrope;
letter-spacing: 0px;
color: #072635;
opacity: 1;
margin: 2rem auto;
margin-bottom: 1.5rem;
}

.lab{
    width: 100%;
}

#lab-results{
    height: 300px;
    overflow-y: scroll;
    margin-top: 1rem;
}
#DaignosisProblems{
    height: 255px;
    overflow-y: scroll;
    margin-top: 1rem;
}

#lab-results::-webkit-scrollbar-track,#DaignosisProblems::-webkit-scrollbar-track {
    width: 6px;
    background: #E3E4E6; /* Light grey background for the scrollbar track */
    border-radius: 3px;
    margin: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
#lab-results::-webkit-scrollbar,#DaignosisProblems::-webkit-scrollbar {
    padding: 0.3rem;
    
    width: 6px; /* Match the track width */
}

#lab-results::-webkit-scrollbar-thumb,#DaignosisProblems::-webkit-scrollbar-thumb {
    background: #707070; /* Dark grey for the scrollbar thumb */
    border-radius: 3px;
}

#lab-results a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    height: 3rem;
    cursor: pointer;
    transition: all 0.3s;
    padding: 0.4rem 0.7rem;
}
#lab-results a:hover,#lab-results a:focus{
    background: #F6F7F8;
    
}
#lab-results a p{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 13px/18px var(--unnamed-font-family-manrope);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-072635);
text-align: left;
font: normal normal normal 13px/18px Manrope;
letter-spacing: 0px;
color: #072635;
text-transform: capitalize;
opacity: 1;
margin-top: 0.7rem;
height: fit-content;

}
#lab-results img{
    height: 1.3rem;
    object-fit: contain;
}
.head{
    justify-content: center;
    align-items: center;
    background: #F6F7F8;
border-radius: 30px;
padding-left: 1rem;
padding-right: 1rem;
padding-top: 1rem;
margin-top: 3rem;
}
.head p{
    width: 100%;
}
#DaignosisProblems p{
    width: 95%;
    margin: 0 auto;
}
.chart-title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-manrope);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-072635);
text-align: left;
font: normal normal bold 18px/24px Manrope;
letter-spacing: 0px;
color: #072635;
text-transform: capitalize;
opacity: 1;

}
.type{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-072635);
text-align: left;
font: normal normal bold 14px/19px Manrope;
letter-spacing: 0px;
color: #072635;
text-transform: capitalize;
opacity: 1;
}

#systolic-average-number,#diastolic-average-number{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/30px var(--unnamed-font-family-manrope);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-072635);
text-align: left;
font: normal normal bold 22px Manrope;
letter-spacing: 0px;
color: #072635;
text-transform: capitalize;
margin: 0.7rem 0;
}
.degree div{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-072635);
text-align: left;
font: normal normal normal 14px/19px Manrope;
letter-spacing: 0px;
color: #072635;
/* margin-left: 14px; */
}

small.small-card{
    font: var(--unnamed-font-style-normal) normal medium 16px/22px var(--unnamed-font-family-manrope);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal medium 16px 'Manrope';
letter-spacing: 0px;
color: #041d2a;

text-transform: capitalize;
opacity: 1;
}
#Rp_rate,#tp_rate,#hr_rate{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800) 30px/41px var(--unnamed-font-family-manrope);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-072635);
text-align: left;
font: normal normal 800 30px/41px Manrope;
letter-spacing: 0px;
color: #072635;
opacity: 1;

}

.fa-sort-up,.fa-sort-down{
    font-size: 1.3rem;
    /* padding-top: 1.2rem; */
    /* margin-top: 0.6rem; */
    margin-right: 1rem;
}
.status{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-072635);
text-align: left;
font: normal normal normal 14px/19px Manrope;
letter-spacing: 0px;
color: #072635;
opacity: 1;
}

@media only screen and (max-width: 1441px) {
   .daigram{
    width: 55%;
   }
  }

@media only screen and (max-width:1279px) {
    .daigram{
        width: 70%;
       }
    #patients{
        width: 30%;
    }
}

@media only screen and (max-width:1214px){
    .chart-container,.chart-title-holder{
        width: 100%;
    }
    .holder{
        width: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    .holder .col-12{
        width: 350px;
        margin: 1rem auto;
        
        
    }

}
@media only screen and (max-width:802px) {
    .daigram{
        width: 100%;
       }
    #patients{
        width: 100%;
    }
}
@media only screen and (max-width:1145px){
    .nav-item{
        width: fit-content;
        display: flex;
       justify-content: flex-start;
       margin: 1rem 0;
    }
    .nav-link{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        text-align: left;
    
    }
    .nav-link div{
        width: 1rem;
    }
    .nav-link p{
        width: 1rem;
    }
    }