.fixedbtn{
  position: fixed;
  bottom: 6rem;
  right: -1rem;
  color: #FFF;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  padding: 0.1rem 3rem;
  line-height: normal;
  text-decoration: none;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0.3rem;
  z-index: 10;
  border-radius: 5px;
background: linear-gradient(261deg, #03F0D0 -17.28%, #006AAC 85.44%);
}
.fixedbtn:hover{
  box-shadow: #03F0D0 5px 5px 15px;

}
.fixedbtn p{
  margin-top: 0.5rem;
}