.logout-btn{
    border-radius: 5px;
    background: linear-gradient(261deg, #03F0D0 -17.28%, #006AAC 85.44%);
    position: fixed;
    bottom: 2rem ;
    right: -5px;
    padding:0.5rem 3rem ;
}
.btn-gradient{
    background: linear-gradient(261deg, #03F0D0 -17.28%, #006AAC 85.44%);
    border: 0;
    color: #FFF;
}