@import '@/scss/variables';
@import '@/scss/fonts';
/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  left: 1rem;
  width: 97%;
  height: 80px;
  z-index: 1000;
  &.navbar-expand-xl {
    background-color: white;
    border-radius: 50px;
    padding: 0.5rem 0;
  }

  .navbar-brand {
    .logo {
      height: 2rem;
    }
  }

  .navbar-toggler {
    &.navbar-toggler-icon {
      // Add styles if needed
    }
  }

  .collapse {
    &.navbar-collapse {
      .navbar-nav {
        &.mx-auto {
          justify-content: center;
          align-items: center;

          .nav-item {
            display: flex;
            justify-content: center;
            align-items: center;
            
            .nav-link {
              height: 40px;
              padding-bottom: 12px;
              padding-left: 0.7rem;
              padding-right: 0.7rem;
              margin: 0 0.8rem;
              display: flex;
              align-items: center;
              justify-content: space-between;
              text-align: center;

              div {
                margin: 0 auto 5px;
                background-size: cover;
              }

              p {
                margin: 0;
                padding-left: 6px;
                // margin-bottom: 5px;
                font-family: $font-family-primary;
                font-weight: $font-weight-bold;
                font-size: $font-size-small;
                line-height: $line-height-small;
                color: $primary-text-color-dark-blue;
              }
            
            }
           
          }
        }
      }

      .justify-content-center {
         display: flex;
            justify-content: center;
            align-items: center;

        .nav-item {
          .cart-icon-holder{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 60px;
            display: flex;
            height: 60px;
            background: $background-color-light;
            border: 7px dashed $activestate-bg-primary;
          }
        }
      }
    }
  }
}

.patient-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-size: cover;
}

.dots {
  transform: rotate(0deg);
  height: 20px;
}
