.card{
    height: 22rem;
    .card-title{
        color: #006AAC;
        text-align: center;
        font-family: Caveat;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0.7rem 0;
    }
    .card-text{
        color: #303030;
        text-align: center;
        font-family: Manrope;
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        }
}